
{% extends "layout.html" %}

{% block body %}
    <h1>Register</h1>
    <form action="/register" method="post">
        <input autocomplete="off" autofocus name="name" placeholder="Name" type="text">
        <!--<select name="sport">-->  <!--#drop-down is called select--> 
            <!--<option disabled selected value="">Sport</option> --> <!--sets default-->
            {% for sport in sports %}
               <!-- <option value="{{ sport }}">{{ sport }}</option>-->
                <input name="sport" type="checkbox" value="{{ sport }}"> {{ sport }}
            {% endfor %}
        </select>
        <button type="submit">Register</button>
        <!--not necessary to put submit button, but lots of ppl do it-->
    </form>
{% endblock %}
